.create-item-stack-page .page-title {
    font-size: 26px;
}
.create-item-stack-form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.create-item-stack-form .row, .create-item-stack-form .text-divider {
    display: flex;
    vertical-align: baseline;
    align-items: baseline;
    gap: 10px;
}
.create-item-stack-form .row *, .create-item-stack-form .text-divider * {
    max-width: 540px;
}
.create-item-stack-form .row .title, .create-item-stack-form .text-divider .title {
    width: 160px;
    vertical-align: middle;
}
.create-item-stack-form .row .danger, .create-item-stack-form .text-divider .danger {
    font-size: 12px;
    color: #b50706;
}
.text-divider {
    padding-top: 20px;
}
.text-divider .title {
    color: #2F4F4F;
    font-weight: 500;
}