.profile-row {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    width: 350px;
    justify-content: space-between;
}
.profile-row.heading-row {
    justify-content: flex-start;
    gap: 10px;
}
.profile-row.heading-row .row-title {
    font-size: 26px;
    color: inherit;
}
.profile-row.heading-row .row-value {
    font-size: 14px;
}
.profile-row:not(.heading-row) .row-title, .profile-row.heading-row .row-value {
    color: darkslategray;
    font-weight: bold;
}